@media (min-width: 600px) {
  .grid-container2 { grid-template-columns: repeat(2, 1fr); }
}

.grid-container2 {
  display: grid;
  grid-template-columns: 400px 400px 100px 100px;
  column-gap: 100px;
  row-gap: 10px;
  justify-items: center;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 0px 0;
  font-size: 20px;
}

.text{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input[type=texto] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

.buttonn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 26px 0px;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}